.myheader{
    padding: 0;
    margin: 0 ;
    background-image:url('https://images5.alphacoders.com/650/650970.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}

/* .mask{
    background-color:rgba(0, 0, 0, 0.7);
} */

